{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <p class="lead text-muted">On this page, I record my trades from previous months</p>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">
        <h3 class="text-center">My Trade Journal</h3>
    		<br />
				<div class="row">
					<table class="table table-striped table-bordered table-hover table-sm">
					  <thead class="thead-dark">
					    <tr>
					      <th class="text-center" scope="col">Ticker </th>
								<th class="text-center" scope="col">Action</th>
								<th class="text-center" scope="col">Trade Date</th>
					    </tr>
					  </thead>
					  <tbody>
					{% for diary in mytradejournal.all %}
					    <tr>
					      <td class="text-center"><a href="{% url 'journaldetail' diary.id %}"><h5>{{ diary.ticker }}</h5></a></td>
					      <td class="text-center">{{ diary.action }}</td>
								<td class="text-center">{{ diary.trade_date }}</td>
					    </tr>
					{% endfor %}
					  </tbody>
					</table>
				</div>
      </div>
    </div>

  </main>

{% endblock %}
