{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

  <main role="main">
    <div class="container">
      <br />
      <h1 class="pt-3">{{ myjournaldetail.company }}</h1>
      <br />
      <p> <b>Stock Ticker:</b> {{ myjournaldetail.ticker }}</p>
      <p> <b>Trade Date:</b> {{ myjournaldetail.trade_date }}</p>
      <p> <b>Action:</b> {{ myjournaldetail.action }}</p>
      <p> <b>Curr. Allocation by Market Value:</b> {{ myjournaldetail.allocation }}% </p>
      <!-- <p> <b>Prev. Allocation by Market Value:</b> {{ myjournaldetail.prev_allocation }}%</p> Bootstrap CSS -->
      <br />
      <!-- <p>{{ myjournaldetail.justification|linebreaks }}</p> -->
      <br />
      <br />
      <!-- <p> <b>Trade Publication Date:</b> {{ myjournaldetail.pub_date }}</p> -->
      <p> <b>Tags:</b> {{ myjournaldetail.tags }}</p>
      <p></p>
      <br />
    </div>

  </main>

{% endblock %}
