{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <p class="lead text-muted">On this page, I post my views about topics such as stocks, companies, markets, investing, trading, and economy.</p>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">
        <h3>Blog - Latest Posts</h3>
        <hr />

        {% for showblog in blogobjects.all %}
        <a href="{% url 'detail' showblog.id %}"><h4>{{ showblog.title }}</h4></a>
        {{ showblog.pub_date }}
        <br />
        <img class="img-fluid" src="{{ showblog.image.url }}" heigh=200 width=200/>
        <br />
        {{ showblog.summary }}
        <p />
        {% endfor %}
      </div>
    </div>

  </main>

{% endblock %}
