{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<main role="main">
  <div class="container">
    <br />
    <h1 class="pt-3">About me</h1>
      <div class="text-center">
        <img class="img-fluid" src="{% static 'IMG_2219.JPG' %}" height="200"  />
      </div>
    <p>Hi, my name is Nishant Sharma. Investing in stocks is one of my favorite activities. Although, I have been investing in US stock market since 2003, I really became passionate about it in 2010. I primarily invest in stocks of large US based companies that are publicly traded. And, I usually take a long-term view (1-5 years) when investing in these companies.</p>
    <br />
    <p>I am by no means an expert when it comes to stocks and investing. However, I strongly believe that I don't need to be a wizard to be successful with stocks. I just need to be passionate, careful, patient, and persistent. Currently, I am managing my personal stock portfolio using very basic tools such as excel sheets, a brokerage account, and publicly available information. However, my stock portfolio includes companies from various industries and sectors. And, I am generally tracking financial performance for more than 100 companies at any given moment.</p>
    <br />
    <p>Sidewithstocks.com is just another way for me to extend my passision with stocks. It compels me to be more thoughful about my investment decisions. It also provides me an alternate & customized source of reference. And, I expect that the information consolidated on this site would help me become a better investor.</p>
    <br />
    <p>Disclaimer: Although, sidewithstocks.com is a personal site, its content is available to everyone on the web. You may feel free to view stocks related information on this site, however, please do not consider it as investment advice. Like any other investment, stocks can be risky. And, I take no responsibility for your investment decisions.</p>
    <br />
  </div>

</main>

{% endblock %}
