{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<main role="main">
  <div class="container">
    <br />
    <h1 class="pt-3">About me</h1>
      <div class="text-center">
        <img class="img-fluid" src="{% static 'IMG_2219.JPG' %}" height="200"  />
      </div>
    <br />
    <p></p>
    <p>Welcome to my blog site - sidewithstocks.com!</p>
    <p></p>
    <p>My name is Nishant Sharma. I am a retail investor, trading in US markets since 2003. My objective is to build & manage a strong equity portfolio, and try to achieve a better rate of return than S&P 500 index. I am not a professional investment advisor, and I also don't consider myself as an expert in managing money. However, I enjoy the process of researching publicly traded companies, and I take a lot of pride in managing my own portfolio.</p>
    <p></p>
    <p>Sidewithstocks.com is just another way for me to extend my passion for investing in stocks. It compels me to be more thoughtful about my investment decisions, and provides me a customized source of reference to track & analyze my recent trades. You are welcome to view all of this information, but please do not consider it as financial advice.</p>
    <p></p>
    <br />
  </div>

</main>

{% endblock %}
