{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<main role="main">
  <div class="container">
    <br />
    <h1 class="pt-3">About me</h1>
      <div class="text-center">
        <img class="img-fluid" src="{% static 'IMG_2219.JPG' %}" height="200"  />
      </div>
    <p>Hi, I am Nishant Sharma, and I am a retail investor, and I have been investing in US stock market since 2003. Typically, I invest in stocks of large US based companies that are publicly traded. And, I usually take a long-term view (1-5 years) when investing in these companies. </p>
    <br />
    <p>I am not a professional investment advisor, and I do not consider myself as an expert either. However, I take a lot of pride in managing my own stocks portfolio. It is a great feeling to be in full control of my stocks portfolio, and to perform better than the benchmark. </p>
    <br />
    <p>Based on my experience in trading stocks for more than 15 years, I have come to believe that an investor doesn't need to be a wizard to be successful in the market, especially when investing in great companies for long-term. Idea is to keep it simple, stay disciplined, and to not become impatient or greedy.</p>
    <br />
    <p>Sidewithstocks.com is just another way for me to extend my passion for investing in stocks. It compels me to be more thoughtful about my investment decisions, and provides me a customized source of reference to better track & manage my stocks portfolio. </p>
    <br />
    <p></p>
    <br />
  </div>

</main>

{% endblock %}
