{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<main role="main">
  <div class="container">
    <br />
    <h1 class="pt-3">Disclaimer</h1>
      <div class="text-center">
      </div>
    <br />
    <p>As a user of sidewithstocks.com (SWS), you agree to not consider any information posted on the website as professional investment advice. This information is available for education purpose only. You also agree to not hold SWS owner(s) liable for accuracy of the information, and for any of your investment decisions and their outcomes. Always remember that trading stocks or investing in stocks can be risky.</p>
    <br />
  </div>

</main>

{% endblock %}
