{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<main role="main">
  <div class="container">
    <br />
    <h1 class="pt-3">Disclaimer</h1>
      <div class="text-center">
      </div>
    <br />
    <p>Although, sidewithstocks.com is a personal site, its content is available to everyone on the web. Please do not consider the information available on sidewithstocks.com as investment advice. Like any other investment, stocks can be risky. Nishant Sharma or sidewithstocks.com takes no responsibility for your investment decisions and outcomes.</p>
    <br />
  </div>

</main>

{% endblock %}
