{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<main role="main">
  <div class="container">
    <br />
    <h1 class="pt-3">Disclaimer</h1>
      <div class="text-center">
      </div>
    <br />
    <p>As a user of sidewithstocks.com website (SWS), you agree to not consider its content as professional investment advice. The content includes all kind of information that is published on SWS. Please note that SWS content is available for education purpose only. You agree to not hold SWS owner(s) liable for accuracy of website content, and for any of your investment decisions and their outcomes. Always remember that trading stocks or investing in stocks can be risky.</p>
    <br />
  </div>

</main>

{% endblock %}
