{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Welcome!</h1>
        <p class="lead text-muted">Feel free to view stocks related information on this site, however, please do not consider it as investment advice. Like any other investment, stocks can be risky. And, I take no responsibility for your investment decisions.</p>
        <img src="{% static 'IMG_2219.JPG' %}" height="200"> </img>
        <p />
            <a href="{% url 'myblog' %}" class="btn btn-primary my-2">Blog</a>
            <a href="{% static 'Allocation_07182018.pdf' %}" class="btn btn-success my-2">My Portfolio</a>
            <br/>
            <a href="{% url 'journal' %}" class="btn btn-danger my-2">My Trade Journal</a>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">
        <h2 class="text-center">My Top Holdings</h2>
        <br />
        <div class="row">

          {% for myheld in myholdings.all %}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="{{ myheld.image.url }}">
              <div class="card-body">
                <p class="card-text">{{ myheld.company }}</p>
                <p class="card-text">{{ myheld.weight }}%</p>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>

  </main>

{% endblock %}
