{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Home</h1>
        <p class="lead text-muted">As I invest in stocks, and build a portfolio for long-term success, I will be publishing all of my trades on sidewithstocks.com </p>
        <img src="{% static 'IMG_2219.JPG' %}" height="200"> </img>
        <p />
            <br />
            <a href="{% url 'journal' %}" class="btn btn-primary">My Trade Journal</a>
            <br />
            <a href="{% static 'PortfolioMarch2019.pdf' %}" class="btn btn-success my-2">Portfolio</a>
            <br />
            <a href="{% url 'myblog' %}" class="btn btn-danger my-2">Blog</a>

      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">
        <h2 class="text-center">Top 3 Holdings</h2>
        <br />
        <div class="row">

          {% for myheld in myholdings.all %}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="{{ myheld.image.url }}">
              <div class="card-body">
                <p class="card-text">Name: {{ myheld.company }}</p>
                <p class="card-text">Allocation: {{ myheld.weight }}%</p>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>

  </main>

{% endblock %}
