{% extends 'base.html' %}

{% block content %}

<div class="album py-5 bg-light">
	<div class="container">
		<h4 class="text-center">My Watch List</h4>
		<br />
		<div class="row">
			<table class="table table-striped table-bordered table-hover table-sm">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">Stock Ticker </th>
						<th scope="col">Current Price</th>
						<th scope="col">52 Week High</th>
						<th scope="col">P/E Ratio</th>
			    </tr>
			  </thead>
			  <tbody>
			{% for key,value in stockprice.items %}
			    <tr>
			      <td>{{ value.quote.symbol }}</td>
			      <td>{{ value.quote.latestPrice }}</td>
						<td>{{ value.quote.week52High }}</td>
			      <td>{{ value.quote.peRatio }}</td>
			    </tr>
			{% endfor %}
			  </tbody>
			</table>
		</div>
	</div>
</div>

<br/>

		<div class="container">
		 <div class="row">
			 <div class="col">
				<p class="text-muted text-center">Stocks data above provided by IEX</p>
			 </div>
		 </div>
		</div>


<div class="album py-5 bg-light">
	<div class="container">
		<h4 class="text-center">Market's Most Active</h4>
		<br />
		<div class="row">
		<table class="table table-striped table-bordered table-hover table-sm">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Stock Ticker </th>
					<th scope="col">Current Price</th>
					<th scope="col">52 Week High</th>
					<th scope="col">P/E Ratio</th>
				</tr>
			</thead>
			<tbody>
		{% for ma in mostactive %}
				<tr>
					<td>{{ ma.symbol }}</td>
					<td>{{ ma.latestPrice }}</td>
					<td>{{ ma.week52High }}</td>
					<td>{{ ma.peRatio }}</td>
				</tr>
		{% endfor %}
			</tbody>
		</table>
	 </div>
 </div>
</div>

<br/>

		<div class="container">
		 <div class="row">
			 <div class="col">
				<p class="text-muted text-center">Stocks data above provided by IEX</p>
			 </div>
		 </div>
		</div>



<div class="album py-5 bg-light">
	<div class="container">
		<h4 class="text-center">Market News</h4>
		<br />
		<div class="row">

		  <div class="container">
		  	<div class="row">
		  		{% for x in stocknews.articles %}
		  			<div class="col-sm">
		  				<div class="card" style="width: 18rem;">
		  				  <div class="card-body">
		  				    <h5 class="card-title">{{ x.title }}</h5>
		  				    <a href="{{ x.url }}" class="btn btn-outline-secondary">Read More...</a>
		  				  </div>
		  				</div>
		  				<br/>
		  			</div>
		  		{% endfor %}
				</div>
		  </div>

		</div>
	</div>
</div>

		<div class="container">
	 	 <div class="row">
			 <div class="col">
			 	<p class="text-muted text-center">Market news above provided by News API</p>
			 </div>
		 </div>
 		</div>

{% endblock %}
